{% extends 'base.html' %}
{% load static %}

{% block title %}Alternatif Yaşam Merkezi{% endblock title %}
{% block keywords %}<meta name="keywords" content="alternatif,tıp,merkezi,yaşam,hacamat,nedir,sülük,tedavi,prp,ozon">{% endblock keywords %}
{% block description %}<meta name="description" content="Alternatif Yaşam Merkezi, Hacamat ve Sülük Tedavisinde 2009 Yılından Bu Güne Gelen Tecrübe">{% endblock description %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slider-bg-1.jpg' %}">
          <div class="container">
            <h2>Tıbbi Hacamat <span>Tedavisi</span></h2>
            <p>Hacamat (Kupa Tedavisi) alternatif bir tedavi yöntemidir. </p>
            <a href="{% url 'randevu' %}" class="btn-get-started scrollto">Randevu Al</a>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slider-bg-2.jpg' %})">
          <div class="container">
            <h2>Tıbbi Sülük Tedavisi</h2>
            <p>Sülük Tedavisi Mucizesi İle Tanışın</p>
            <a href="{% url 'randevu' %}" class="btn-get-started scrollto">Randevu Al</a>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slider-bg-3.jpg' %})">
          <div class="container">
            <h2>PRP ve Ozon Terapisi</h2>
            <p>PRP ve Ozon Terapisi Yapıyoruz.   </p>
            <a href="{% url 'randevu' %}" class="btn-get-started scrollto">Randevu Al</a>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4 class="title"><a href="{% url 'hacamat' %}">Tıbbi Hacamat</a></h4>
              <p class="description">Hacamat hekim tarafından belirlenen bölgelerde birikmiş toksik maddelerin dışarı alınması işlemidir. Vücudumuzda varolan 12 iletişim yörüngesinin üzerinde...</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4 class="title"><a href="{% url 'suluk' %}">Tıbbi Sülük Tedavisi</a></h4>
              <p class="description"> Sülük tedavisi ile ilgili ilk kaynaklar MÖ. 15. yüzyılda yaşamış Babil’li hekimlere kadar gitmektedir. İbn-i Sina’nın kitaplarında da sülük tedavisi yerini almıştır...</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-thermometer"></i></div>
              <h4 class="title"><a href="{% url 'prp' %}">PRP</a></h4>
              <p class="description">PRP, kendi kanımızın özel işlemlerden geçirildikten sonra kandaki trombosit hücrelerin ayrıştırılması ve bunun da trombositten zengin kısmının alınıp ozonla aktive...</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4 class="title"><a href="{% url 'ozon' %}">Ozon Tedavisi</a></h4>
              <p class="description mb-3"> Ozon (O3) gazı üç oksijen atomundan oluşan, kararsız, kuvvetli okside edici, keskin kokulu ve renksiz olan bir gazdır. Adı yunanca “koklamak” anlamına gelen “ozein”den...</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Cta Section ======= -->
    <section class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Neden Alternatif Yaşam Merkezi?</h3>
          <p>Covid-19 Tedbirleri Kapsamında Hizmet vermekteyiz.
            Şüphesiz önceliğimiz sağlık.Önceki hastalarımız referansımızdır.
            
            Alanında uzman, tecrübeli ve söz sahibi personel ile çalışıyoruz.
            
            Uygun fiyat imkanları sunuyoruz.
            
            Sizlere Evinizde Hizmet Veriyoruz. </p>
          <a class="cta-btn scrollto" href="{% url 'randevu' %}">Sende Randevu Al</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    {% include 'particial/_services.html' %}

    <!-- ======= About Us Section ======= -->
    <div>
      <section id="about" class="about mt-5">
        <div class="container" data-aos="fade-up">
    
          <div class="section-title">
            <h2>KURUMSAL</h2>
            <p>Çalışanlarımız ile birlikte sürekli gelişerek, evrensel standartlardaki sağlık hizmeti anlayışımız ve yarattığımız bilimsel katkılarımız ile dünyada referans gösterilen bir organizasyon olmayı hedefleriz.</p>
          </div>
    
          <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
              <img src="{% static 'assets/img/departments-3.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>Amacımız sadece sizlerin güvenini ve taktirini kazanmak. </h3>
              <p class="fst-italic">
                Hastalıkta ve sağlıkta sağlık ekibimizle hiçbir kar gözetmeksizin sizlere sağlık alanında evde sağlık birimi ve Alternatif 
                tedavi hizmeti olarak 2 ana eksende hizmet veriyoruz.
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Covid-19 tedbirleri kapsamında hizmet vermekteyiz.</li>
                <li><i class="bi bi-check-circle"></i> Şüphesiz önceliğimiz sağlık.</li>
                <li><i class="bi bi-check-circle"></i> Önceki hastalarımız referansımızdır.</li>
                <li><i class="bi bi-check-circle"></i> Alanında uzman, tecrübeli ve söz sahibi personel ile çalışıyoruz.</li>
                <li><i class="bi bi-check-circle"></i> Uygun fiyat imkanları sunuyoruz.</li>
                <li><i class="bi bi-check-circle"></i> Sizlere Evinizde Hizmet Veriyoruz.</li>
              </ul>
              <p>
                
                Alternatif tıp merkezi olarak bölgemizdeki tüm muhtarlarımızla iletişime geçerek içinden geçtiğimiz bu corona virüs döneminde evde sağlık hizmetlerine ihtiyacı olan dar gelirli vatandaşlarımızın ve yaşlılarımızın bildirilmesini rica ettik ve bu konuda elimizden gelen tüm yardımları yapacağımızı bilmelerini istedik, yakın bir zamanda bünyemize ambulansta kazandırıp hastalarımızın bu ihtiyaçlarına da cevap vereceğimizi sizlerle paylaşmaktan kıvanç duyarız. Önce sağlık Önce güven..
              </p>
            </div>
          </div>
    
        </div>
      </section><!-- End About Us Section -->
  </div>
    <div class="col">
    </div>


    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
              <strong><p>Personel Sayımız </p></strong><p>Sağlığınız Bize Emanet Alanında Uzman ve Deneyimli Personellerimizden Lütfen Randevu Alınız</p>
              <a href="{% url 'randevu' %}"> Randevu &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span data-purecounter-start="0" data-purecounter-end="26" data-purecounter-duration="1" class="purecounter"></span>
              <strong><p>Aktif Faaliyet Alanlarımız</p></strong><p>Alternatif Sağlık Alanında Hizmet Vermekteyiz. Lütfen Randevu Alınız</p>
              <a href="{% url 'randevu' %}">Randevu &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
              <strong><p>Evde Sağlık Hizmetlerimiz </p></strong><p>Sağlığınız Bize Emanet. Siz evde kalın biz size gelelim.</p>
              <a href="{% url 'randevu' %}">Randevu &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="1276" data-purecounter-duration="1" class="purecounter"></span>
              <strong><p>Mutlu Hasta Sayımız </p></strong><p>Önceliğimiz Hasta Memniyetidir. Sizlere evinizde de hizmet veriyoruz. Lütfen randevu alınız</p>
              <a href="{% url 'randevu' %}">Randevu &raquo;</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->


{% include 'particial/_galeri.html' %}

  </main><!-- End #main -->

{% endblock content %}