{% load static %}
 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="{% url 'index' %}" class="logo me-auto"><img src="{% static 'assets/img/logo2.jpg' %}" alt=""></a>
              <p>
                Batı Mah. 23 Nisan Cad. No:18/1 Pendik / İstanbul<br><br>
                <strong>Telefon: </strong><a href="tel:+905358735837 "></a> 0535 873 58 37<br>
                <strong>Email: </strong><a href="mailto:info@alternatiftipmerkezi.com"> info@alternatiftipmerkezi.com<br></a> 
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/holistik.yasam.7" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/alternatif_saglik_hizmetleri" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Hızlı Menü</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'index' %}">Ana Sayfa</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'services' %}">Hizmetler</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blogs' %}">Blog</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'galeri' %}">Galeri</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'about' %}">Hakkımızda</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'contact' %}">İletişim</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Hizmetlerimiz</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'hacamat' %}">Tıbbi Hacamat</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'suluk' %}">Sülük Tedavisi</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'prp' %}">PRP</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'ozon' %}">Ozon Tedavisi</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.saglicaklaevdesaglik.com">Evde Sağlık</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Bize Ulaşınr</h4>
            <p>Lütfen e-mail adresinizi giriniz</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Gönder">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Alternatif yaşam Merkezi</span></strong>Tüm Hakları Saklıdır.
      </div>
      <div class="copyright">
       <a href="https://www.ckwebtasarim.net">C&K BİLİŞİM </a><span> Tarafından Tasarlanmıştır.</span>
      </div>
     
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medicio-free-bootstrap-theme/ -->
     
      </div>
    </div>
  </footer><!-- End Footer -->