   {% load static %}
   <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Fiyatlar</h2>
            <p> Alternatif Yaşam Merkezi Hizmetlerimiz İçin Ücret Tarifemizdir</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="box" data-aos="fade-up" data-aos-delay="100">
                <h3>HACAMAT</h3>
                <h4><sup>₺</sup>250<span>Tek Seans</span></h4>
                
                <div class="btn-wrap">
                  <a href="{% url 'randevu' %}" class="btn-buy">Randevu Al</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box featured" data-aos="fade-up" data-aos-delay="200">
                <h3>SÜLÜK TEDAVİSİ</h3>
                <h4><sup>₺</sup>280<span> Tek Seans </span></h4>
                
                <div class="btn-wrap">
                  <a href="{% url 'randevu' %}" class="btn-buy">Randevu Al</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
              <div class="box" data-aos="fade-up" data-aos-delay="300">
                <h3>PRP</h3>
                <h4><sup>₺</sup>400<span>Tek Seans </span></h4>
               
                <div class="btn-wrap">
                  <a href="{% url 'randevu' %}" class="btn-buy">Randevu Al</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box featured" data-aos="fade-up" data-aos-delay="200">
                <h3>OZON TEDAVİSİ</h3>
                <h4><sup>₺</sup>400<span> Tek Seans </span></h4>
                
                <div class="btn-wrap">
                  <a href="{% url 'randevu' %}" class="btn-buy">Randevu Al</a>
                </div>
              </div>
            </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Pricing Section -->
  